.myproduct_table{
  width: 850px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.myproduct_table tr:nth-child(even){background-color: #f2f2f2;}

.myproduct_table tr:hover {background-color: #ddd;}

.myproduct_table td, .myproduct_table th {
  border: 1px solid #ddd;
  padding: 5px 40px
}

.myproduct_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FE980F;
  color: white;
}